<%= form_with(model: work, multipart: true) do |form| %>
  <% if work.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
        <% work.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-4">
    <%= form.label :db_file_name, class: "form-label", value: "Upload SQLite Database File" %>
    <div class="dropzone dropzone-default dz-clickable"
      data-controller="dropzone"
      data-dropzone-max-file-size="4"
      data-dropzone-max-files="1">
    <%= form.file_field :db_file_name, class: "input",
      data: { 
        'dropzone-target': 'input', 
        'create-work-target': 'file',
        'direct-upload-url': "#{upload_db_works_path}"
      }
    %>
    <div class="dropzone-msg dz-message needsclick text-gray-600">
      <h3 class="dropzone-msg-title">Drag here to upload or click here to browse</h3>
      <span class="dropzone-msg-desc text-sm">4 MB file size maximum. Allowed file types .db, .sqlite, .sqlite3.</span>
      </div>
    </div>
  </div>

  <div class="my-4">
    <%= form.label :alias_name, class: "form-label", value: "Alias Name" %>
    <%= form.text_field :alias_name, class: "form-control", placeholder: "Enter alias name" %>
  </div>

  <div class="d-flex justify-content-end my-4">
    <%= form.submit class: "btn btn-primary", id: "work-submit-button" %>
  </div>
<% end %>
