<div class="row g-0" style="">
  <!-- Sidebar with tables -->
  <div class="col-md-2 sidebar">
    <div class="p-3">
      <h6 class="mb-3">
        <i class="fas fa-database"></i> <%= @database[:name] %>
      </h6>
      <%= link_to "â† Back to Databases", databases_path, class: "btn btn-sm btn-outline-secondary mb-3" %>

      <h6 class="mb-2">Tables</h6>
      <ul class="table-sidebar" data-database-id="<%= @database[:id] %>">
        <% @tables.each do |table| %>
          <%= link_to table_info_database_path(@database[:id], table_name: table), 
              class: "table-link", 
              data: { 
                turbo_frame: "database-page-content",
                table_name: table
              } do %>
            <li>
              <i class="fas fa-table"></i> <%= table %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <!-- Main content area -->
  <div class="col-md-10 main-content">
    <!-- Query Console -->
    <div class="content-header">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
          <h1 class="page-title mt-3 mx-4">
            <i class="fas fa-server"></i>
            <%= @database[:name] %>
          </h1>
        </div>
        <div class="mx-4">
          <% if @work %>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteDatabaseModal">
              <i class="fas fa-trash"></i> Delete Database
            </button>
          <% end %>
        </div>
      </div>
    </div>
    <%= turbo_frame_tag "database-page-content" do %>
      <div class="content-body mx-4">
        <table class="table table-sm table-striped table-bordered">
          <tbody>
            <tr>
              <td class="fw-semibold">Base Name</td>
              <td><%= @metadata.filename %></td>
            </tr>
            <tr>
              <td class="fw-semibold">Size on Disk</td>
              <td><%= @metadata.size_on_disk %></td>
            </tr>

            <tr>
              <td class="fw-semibold">Tables</td>
              <td><%= @metadata.tables.size %></td>
            </tr>

            <tr>
              <td class="fw-semibold">Indexes</td>
              <td><%= @metadata.get_all_indexes.size %></td>
            </tr>

            <tr>
              <td class="fw-semibold">Views</td>
              <td><%= @metadata.get_all_views.size %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <%= render 'query_content' %>
    <% end %>

    <!-- Save Query Modal -->
    <%= render partial: 'sqlite_dashboard/databases/modals/save_query_modal' %>

    <!-- Delete Database Modal -->
    <%= render partial: 'sqlite_dashboard/databases/modals/work_delete_modal' %>
  </div>
</div>